.main_about {
  margin-top: 60px;
}
.main_about span.subTitle {
  font-family: "Poppins", sans-serif;

  font-weight: 300;
  font-size: 13px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #545454;
}
.aboutSliderButton > .sliderWithButton {
  background: transparent !important;
}

.about_img {
  width: 100%;
  height: 370px;
}

.about_details {
  background: #fff;
  height: 100%;
  padding: 100px;
}

.about_details h4 {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 33.6px */
}
.about_details p {
  color: #545454;
  text-align: justify;
  font-family: "Poppins", sans-serif;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.item_center {
  display: flex;
  align-items: center;
  height: 370px;
}

.aboutDetails {
  margin-top: 90px;
}
.warverMargin {
  margin-top: 90px;
}
.hide {
  display: none;
}
.padding {
  padding: 0px 10px;
}
@media screen and (max-width: 787px) {
  .warverMargin {
    margin-top: 48px;
  }
  .about_img {
    height: 270px;
  }
  .mbl_hide {
    display: none;
  }
  .hide {
    display: block;
  }
  .about_details {
    padding: 25px;
  }
  .item_center {
    height: auto;
  }
  .about_details p {
    margin-bottom: 0px;
  }
  .main_about_page {
    margin-bottom: 40px;
    padding: 0px 10px;
  }
  .aboutDetails {
    margin-top: 48px;
  }
  .main_about {
    margin-top: 0px;
    /* padding: 0px 10px; */
  }
}
