.mainFacultyMember {
  margin-top: 80px;
  margin-bottom: 160px;
}
.mainFacultyMember img {
  width: 100%;
  max-height: 500px;
  border-radius: 40px;
}
.members {
  margin-bottom: 70px;
}
.memberTitles {
  border-bottom: 4px solid #eb2a2e;
  position: relative;
}
.memberTitles:after {
  content: "";
  position: absolute;
  width: 200px;
  height: 4px;
  background: #eb2a2e;
}
.memberTitles h2 {
  background: #eb2a2e;
  transform: skewY(-8deg);
  display: table-cell;
  color: #fff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  padding: 10px 20px;
}
.memberCard p {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 150%; /* 21px */
}
.memberCard h4 {
  color: #000;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 27px */
  margin-bottom: 2px;
  text-transform: capitalize;
}
.memberCard h2 {
  font-family: "Poppins", sans-serif;

  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.memberCard span {
  color: #625e5e;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
.memberCard {
  background: #ffffff;
  cursor: pointer;
  text-align: center;
  margin-top: 30px;
  padding-top: 12px;
  padding-bottom: 30px;
}
.memberImg {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
}
.memberImg img {
  width: 100%;
  height: 100%;
}
.cardFooter p {
  margin: 0;
  padding: 15px;
  color: #fff;
  font-family: "Poppins", sans-serif;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}
.cardFooter {
  background: #ad1f1f;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 22px;
}

/*-------------------------------SECTION FOR SINGLE ITEM------------------------------*/
.mainBanner {
  margin-top: 120px;
}
.innerMainBanner {
  position: relative;
  height: 500px;
  border-radius: 42px;
  overflow: hidden;
}
.avaterImg {
  width: 330px;
  height: 330px;
  margin-right: 60px;
}
.avaterImg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.details {
  position: absolute;
  bottom: 0%;
  right: 0%;
  left: 0%;
  top: 0%;
}
.positionCenter {
  display: flex;
  align-items: center;
  margin-left: 90px;
  height: 100%;
}
.positionCenter > p {
  font-family: "Poppins", sans-serif;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  margin-right: 30px;
}
.positionCenter > p > img {
  margin-right: 5px;
}
.bodyDetails {
  margin-top: 60px;
  margin-bottom: 60px;
}
.list {
  font-weight: bold;
  background: red;
  color: #ffffff;
}

.innerBgImg {
  height: 100%;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}
.single_avaterimg {
  width: 382px;
  height: 380px;
}
.single_avaterimg img {
  width: 100%;
  height: 100%;
}
.card_details h4 {
  text-transform: capitalize;
  color: var(--black-30, #4d4d4d);
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 54px */
  margin-bottom: 0;
}
.card_details p {
  color: var(--black-30, #4d4d4d);
  font-family: Poppins;
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
  line-height: 150%; /* 27px */
}
.itemCenter {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .members {
    padding: 0px 12px;
  }
  .innerMainBanner {
    height: 200px;
  }
  .positionCenter {
    margin-left: 0;
    display: initial;
    text-align: center;
  }
  .avaterImg {
    width: 50px;
    height: 50px;
    margin-right: 0px;
    /*float: left;*/
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  .innerBgImg {
    height: 100%;
  }
  .positionCenter > p {
    font-size: 15px;
    font-weight: 400;
    margin-right: 0;
    margin-bottom: 5px;
  }
  .members {
    padding: 0px 12px;
  }
  .mainFacultyMember {
    margin-bottom: 80px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1500px) {
  .innerBgImg {
    height: 100%;
  }
  .avaterImg {
    width: 150px;
    height: 150px;
  }
}
