.mt {
  margin-top: 90px;
  margin-bottom: 90px;
}
.bg {
  background: #334756;
  height: 381px;
  margin-left: 0px;
  margin-right: 0px;
}
.Bigimg {
  height: 100%;
  padding: 30px;
  position: relative;
}
.first_quata_img {
  position: absolute;
}
.quata_img {
  position: absolute;
  bottom: 35px;
  right: 25px;
}
.Bigimg img {
  width: 100%;
  height: 425px;
  position: absolute;
  top: -44px;
  left: 0;
}
.item_center {
  display: flex;
  align-items: center;
}

.details h2 {
  color: var(--White, #fff);
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 45px */
  letter-spacing: 0.36px;
  text-transform: capitalize;
}

.details p {
  color: var(--grey, #c2c2c2);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.5px; /* 146.875% */
}
.details > h4 {
  color: var(--White, #fff);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  background: #eb2a2e;
  line-height: normal;
  width: 153px;
  padding: 5px 20px;
  cursor: pointer;
  text-align: center;
}

@media screen and (max-width: 778px) {
  .quata_img {
    position: absolute;
    right: 3px;
    bottom: 50px;
  }
  .mt {
    padding: 15px;
    margin-bottom: 20px;
  }
  .Bigimg {
    padding: 0;
  }
  .inner {
    position: relative;
  }
  .inner::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #fff;
    bottom: 63px;
    left: 0px;
    right: 0;
  }
  .bg {
    height: 100%;
    padding-bottom: 35px;
  }
  .details {
    text-align: center;
    margin-top: -35px;
  }
  .details h2 {
    font-size: 18px;
  }
  .details p {
    font-size: 15px;
    line-height: 21.5px;
  }
  .details > h4 {
    margin: 0 auto;
    font-size: 14px;
    padding-bottom: 8px;
  }
  .Bigimg img {
    height: 230px;
    position: relative;
    top: -64px;
    left: 10px;
  }
}
