.buttons {
  border: none;
  color: #2b0808;
  padding: 3px 25px;
  margin-right: 5px;
  color: #fff;

  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
}
.buttons:last-child {
  margin-right: 0px !important;
}
