.buttons {
  border: none;
  color: #2b0808;
  padding: 11px 20px;
  margin-right: 5px;
  color: #fff;

  font-style: normal;
  line-height: 33px;
  width: 224px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.buttons:last-child {
  margin-right: 0px !important;
}
.buttons:hover {
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}
