.mainSmallCard {
  background: #ffffff;
  /* margin: 0px 10px; */
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
}
.title {
  font-family: "Poppins", sans-serif;
  color: var(--Black, #323232);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.subtitle {
  font-family: "Poppins", sans-serif;
  color: #787e86;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
}
/* .subtitleFont {
  font-size: 16px;
} */
.cardDetials {
  margin-top: 0px;
  padding: 14px 25px;
  text-align: left;
}
.date {
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 20px;
  width: 55px;
  position: absolute;
  top: 47%;
  right: 13px;
}
.date p {
  font-family: "Poppins", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  color: #d92626;
  padding: 0;
  margin: 7px;
}
.cardText {
  /* padding: 0px 64px; */
  text-align: justify;
}
.cardText h4 {
  font-family: "Poppins", sans-serif;
  color: var(--Black, #323232);
  text-align: left;

  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
  letter-spacing: 0.24px;
}
.cardText p {
  font-family: "Poppins", sans-serif;
  color: var(--525252, #525252);
  text-align: justify;
  padding-right: 10px;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
.leftImg {
  width: 481px;
  height: 355px;
  min-width: 481px;
}
.leftImg img {
  width: 100%;
  height: 100%;
}
.mainCardWithImg {
  background: #ffffff;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 100px;
  padding: 35px;
}
.banner {
  height: 550px;
  border-right: 20px;
  margin-bottom: 50px;
}
.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}
.banner img {
  width: 100%;
  height: 100%;
}
.slider {
  max-width: 1200px;
  margin: 0 auto;
  cursor: pointer;
}
@media screen and (max-width: 991px) {
  .mainSmallCard {
    margin-bottom: 20px;
  }
  .headingTitle {
    font-size: 35px;
    line-height: 10px;
    text-align: center;
  }
  .leftImg {
    display: none;
  }
  .cardText {
    /* padding: 20px 25px; */
    padding: 0px;
  }
  .cardText p {
    font-size: 16px;
    padding-right: 0px;
  }
  .cardText h4 {
    margin-top: 15px;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .mainCardWithImg {
    margin-bottom: 0;
    padding: 15px 20px;
  }
  .banner {
    margin-bottom: 10px;
    height: auto;
  }
}
