.mainPageBanner {
  height: 350px;
  overflow: hidden;
}
.banner {
  position: relative;
  display: flex;
  align-items: center;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(
    0deg,
    rgba(255, 20, 20, 0.4) 0%,
    rgba(255, 20, 20, 0.4) 100%
  );
  text-align: center;
  display: flex;
  align-items: center;
  height: 350px;
  justify-content: center;
}
.heading {
  position: relative;
  z-index: 2;
}
.overlay h4 {
  color: var(--White, #fff);
  text-align: center;
  margin-bottom: 0px;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  text-transform: capitalize;
  width: 724px;
  margin-bottom: 25px;
}
.heading img {
  width: 100%;
  height: 100%;
}

.inner_navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.inner_navigation > p {
  margin-bottom: 0;
  color: var(--White, #fff);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  cursor: pointer;
}

.heading {
  margin-bottom: 20px;
  color: var(--Black, #323232);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 50.4px */
}
.topCard {
  margin-top: 50px;
}
.title {
  color: #8d8d8d;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 16.9px */
}

.subtitle {
  color: #545454;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 28.8px */
  text-align: justify;
}

@media screen and (max-width: 767px) {
  .padding {
    padding: 0px 5px;
  }
  .topCard {
    padding: 0px 5px;
  }
}

@media screen and (max-width: 991px) {
  .banner {
    height: 100%;
  }
  .heading {
    height: 100%;
    margin-bottom: 0;
  }
  .navigation h4 {
    width: auto;
    font-size: 18px;
    line-height: 30px;
  }
}
