.mainContact {
  /* margin-top: 100px; */
}
.headingTitle {
  color: #343434;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 50.4px */
  margin-top: 45px;
  margin-bottom: 40px;
}
.mainContact img {
  width: 100%;
  max-height: 500px;
  border-radius: 40px;
}
.button {
  background: #eb2a2e;
  border: none;
  border-radius: 0;
  color: var(--White, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  text-transform: capitalize;
  padding: 10px 30px;
}
.gmap_canvas {
  height: 550px;
  border-radius: 12px;
  overflow: hidden;
}
.mainForm {
  padding: 40px 30px 0px 15px;
}
.footer {
  margin-bottom: 50px;
}
.footer ul {
  padding: 0;
  margin: 0;
  text-align: center;
  margin-top: 45px;
}
.footer ul li p {
  margin-bottom: 0;
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 150%; /* 27px */
  color: var(--Black, #323232);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.footer ul li {
  list-style: none;
  display: inline-flex;
  align-items: center;
  margin-right: 35px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .mainForm {
    margin-top: 0px !important;
  }
}
@media screen and (max-width: 991px) {
  .headingTitle {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
  }
  .button {
    width: 100%;
    text-align: center;
  }
  .footer ul li p {
    font-size: 11px;
  }
  .footer ul li {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 0px;
  }
  .mainContact h1 {
    margin-bottom: 10px !important;
  }
  .mainForm {
    margin-top: 0;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 15px;
  }
  .mainForms {
    padding: 20px;
  }
  .footer ul li svg {
    width: 24px;
    height: 24px;
  }
  .footer {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .footer ul li {
    margin-right: 10px;
  }
  .footer ul li svg {
    width: 24px;
    height: 24px;
  }
}
