.mainLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
}
input#formBasicEmail {
  background: #ffffff !important;
  border-radius: 40px !important;
}
input#formBasicPassword {
  background: #ffffff !important;
  border-radius: 40px !important;
}
.signInBtn h4 {
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.signInBtn {
  display: flex;
  align-items: center;
}
.submitButton {
  background: #d92626;
  border-radius: 40px !important;
  border: none;
  width: 100%;
}
.formText {
  font-family: "Poppins", sans-serif;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #4d4d4d;
  text-align: left !important;
  margin-top: 10px;
  padding-left: 10px;
}
