.mainNotice{
    margin-top: 80px;
}
.mainNotice img{
    width: 100%;
    max-height: 500px;
    border-radius: 40px;
}
.mainNoticeBody{
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 90px;
}
.noticeItem{
    display: flex;
    margin-top: 40px;
}

.noticeDate{
    background: #AD1F1F;
    border-radius: 10px;
    min-width: 110px;
    height: 100px;
    padding: 10px;
}
.noticeDate p{
    background: #AD1F1F;
    border: 1px dashed #FFFFFF;
    border-radius: 10px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.noticeDetails{
    margin-left: 30px;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 22px;
}
.noticeDetails h4{
    ont-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #000000;
}
.noticeDetails p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #6C757D;
    text-align: justify;
}

.noticeItem:last-child .noticeDetails{
    border-bottom: 1px solid transparent;
}