@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background: #f7f7f7 !important;
  border-radius: 80px;
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  padding: 0;
  overflow: hidden;
  overflow-y: scroll;
}
button {
  border-radius: 0px !important;
  background: #eb2a2e;
  text-transform: capitalize;
}
.carousel-item {
  height: 670px;
}
.mt_60 {
  margin-top: 60px;
}
.main__ {
  position: relative;
  padding: 90px 0px;
}
.main__ .overlay_main__ {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.galleryButton {
  font-family: "Poppins", sans-serif !important;
  margin: 0 auto !important;
  width: 165px !important;
  background: #eb2a2e !important;
  color: var(--White, #fff) !important;
  text-align: center !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: normal !important;
  margin-top: 25px !important;
}
.gallery_big_img {
  width: 100%;
  height: 445px;
}
.gallery_small_img {
  height: 215px;
}
.main_header {
  padding: 10px 0px !important;
}
.padding_0 {
  padding: 0px !important;
}
.headingTitle {
  line-height: 50px;
  color: #fff;
  width: 787px;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 10px;
}
.sectionHeading {
  color: var(--Black, #323232);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 45px */
  letter-spacing: 0.36px;
  text-transform: capitalize;
}
.sectionSubtitle {
  color: #787e86;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
input#full_name,
input#email,
textarea#message {
  border-radius: 0px !important;
}
.mt_30 {
  margin: 70px 0px;
}
.carousel-indicators {
  bottom: 90px !important;
}
.carousel-indicators button.active {
  background: #fff !important;
  width: 0;
  height: 10px;
  border-radius: 50%;
}
label.form-label {
  font-family: "Poppins", sans-serif;
  color: var(--gray-gray-9, #262626);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}
.carousel-indicators button {
  width: 0 !important;
  height: 10px !important;
  border-radius: 50%;
  border: 1px solid #fff;
}
a.nav-link {
  color: #2b4476;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  padding-right: 0px !important;
}
.me-auto.navbar-nav {
  margin-right: 12px !important;
}
a.navbar-brand {
  /* margin-right: 76px; */
}
a {
  text-decoration: none !important;
}
#accordion .accordion-button.collapsed::after,
#accordion .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
.readMore {
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #eb2a2e;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  text-decoration: none;
  position: relative;
}
/*.readMore::before{*/
/*  content: '';*/
/*  position: absolute;*/
/*  width: 2px;*/
/*  height: 9px;*/
/*  background: #9D0F0F;*/
/*  margin-left: 88px;*/
/*  transform: rotate(-50deg);*/
/*  margin-top: 3px;*/
/*}*/
/*.readMore::after{*/
/*  content: '';*/
/*  position: absolute;*/
/*  width: 2px;*/
/*  height: 9px;*/
/*  background: #9D0F0F;*/
/*  margin-left: 88px;*/
/*  transform: rotate(50deg);*/
/*  margin-top: 8px;*/
/*}*/
.arrow {
  font-size: 25px !important;
  margin-left: 8px;
  margin-top: -1.5px;
}
.body_padding {
  padding-left: 135px !important;
  padding-right: 135px !important;
}
/*.me-auto.navbar-nav a {*/
/*  text-transform: uppercase;*/
/*}*/
.loader {
  width: 60px;
  height: 60px;
  display: flex;
  margin: 0 auto;
}
/* .carousel-caption {
  right: 15%;
  top: 16%;
} */
.carousel-caption {
  height: 100%;
  bottom: -32% !important;
}
.sliderTag {
  color: #fff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 33px; /* 206.25% */
}
.carousel-control-prev,
.carousel-control-next {
  display: none !important;
}
.accordion-header {
  background: #fcf8f8;
  margin: 20px 0px;
}
.accordion-item {
}
.accordion-item,
.accordion-button:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.slider_overylay {
  position: relative;
}
.slider_lay {
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0.35) 100%
  );

  width: 100%;
  height: 100%;
  top: 0;
  left: 00;
  right: 0;
  bottom: 0;
}
.slick-prev:before,
.slick-next:before {
  color: #ad1f1f !important;
}
/* .carousel-caption {
  left: 7% !important;
} */
button.accordion-button {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #000000 !important;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.accordion-body {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #545454;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background: #fcf8f8;
}

.nav-link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #545454;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-bottom: 1px solid transparent !important;
  font-weight: 600;
  color: #fff !important;
  font-size: 18px;
  font-style: normal;
  line-height: 140%;
  background: var(--Primary-Red, #eb2a2e) !important;
  border-radius: initial !important;
}

.nav-tabs .nav-link {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;
  color: #545454;
  background-color: transparent !important;
  border-color: transparent !important;
}

li.nav-item:last-child {
  border-right: 1px solid #0000001a;
}
li.nav-item {
  border: 1px solid #0000001a;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

button#Development,
button#why_us-tab-Alumni,
button#why_us-tab-Spirituality,
button#why_us-tab-Benefits,
button#why_us-tab-Self {
  text-align: center !important;
  font-family: "Poppins", sans-serif;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
  border-radius: initial;
}
.mainWhyus {
  margin-top: 110px;
}

input {
  background: #ffffff;
  border-radius: 40px !important;
}
.item_middle {
  text-align: center;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: center;
  }
}

.item_middle {
  display: flex;
  justify-content: center;
}

.latestNew_Heading button.accordion-button {
  color: var(--Black, #323232);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 17.5px */
  letter-spacing: 0.14px;
  text-transform: uppercase;
}

.modal-dialog.modal-lg.modal-dialog-centered.modal-fullscreen {
  padding: 90px;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  padding: 15px !important;
}

.modal-header {
  background: transparent !important;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
}
.mobile {
  display: none;
}
.pl-0 {
  padding-left: 0px !important;
}
.pr-0 {
  padding-right: 0px !important;
}
.slider {
  max-width: 1200px;
  margin: 0 auto;
}
.gmap_canvas {
  height: 448px !important;
}
.desktop-hide {
  display: none !important;
}
.mobile-hide {
  display: block !important;
}
.bulletine {
  margin-top: 40px !important;
}
.inner_gallery {
  margin-top: 30px !important;
  margin-bottom: 30px;
}
@media screen and (max-width: 1500px) {
  .body_padding {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
/* .svg {
  width: 45px;
} */
.mbl_hide {
  display: none;
}
.contact_map {
  padding-left: 0px !important;
}
.sm_pic {
  margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
  .notice_card {
    margin: 0px !important;
  }
  .sm_pic {
    margin-bottom: 10px;
  }
  .ml-6 {
    padding-left: 6px !important;
  }
  .mr-6 {
    padding-right: 6px !important;
  }
  .gmap_canvas {
    height: 348px !important;
    border-radius: 0px;
  }
  .mt_30 {
    margin: 60px 0px;
    padding: 0px 15px;
  }
  .contact_map {
    padding-right: 0px !important;
  }
  .hide {
    display: none;
  }
  .mbl_hide {
    display: block;
  }
  .svg {
    width: 45px;
  }
  .mbl_10 {
    padding: 0px 25px !important;
  }
  .bulletine {
    margin-top: 15px !important;
  }
  .gallery_big_img {
    height: 210px;
    margin-bottom: 10px;
  }
  .gallery_small_img {
    height: 136px;
  }
  .main__ {
    padding: 30px 0px;
  }
  button#Development,
  button#why_us-tab-Alumni,
  button#why_us-tab-Spirituality,
  button#why_us-tab-Benefits,
  button#why_us-tab-Self {
    font-size: 14px !important;
  }
  .sectionHeading {
    font-size: 24px;
  }
  .sectionSubtitle {
    font-size: 13px;
  }
  .mainWhyus {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0px 25px !important;
  }
  .desktop-hide {
    display: block !important;
  }
  .mobile-hide {
    display: none !important;
  }
  a.nav-link {
    padding-right: 0px !important;
  }
  .readMore {
    margin-top: 10px !important;
  }
  .carousel-item {
    height: 440px;
  }
  .headingTitle {
    font-size: 30px;
    line-height: initial;
    width: auto;
  }
  /* button.accordion-button.collapsed {
    padding: 5px 0px;
  } */
  .slick-prev {
    left: -12px !important;
  }
  .slick-next {
    right: -12px !important;
  }
}

#card-link {
  border: none;
  padding: 10px;
  padding-top: 0;
}
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton-text {
  width: 100%;
  height: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}

.skeleton-text__body {
  width: 75%;
}

.skeleton-footer {
  width: 30%;
}
/*============================= Bulletine preloader start ====================================*/

/*body {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  background: #ddd;*/
/*  min-height: 100vh;*/
/*  padding: 30px;*/
/*}*/

.cards {
  display: flex;
}

.card {
  margin: 10px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.card .image img {
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card .content {
  padding: 20px 30px;
}

.card.is-loading .image,
.card.is-loading h2,
.card.is-loading p {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  -webkit-animation: 1.5s shine linear infinite;
  animation: 1.5s shine linear infinite;
}
.card.is-loading .image {
  height: 200px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.card.is-loading h2 {
  height: 30px;
}
.card.is-loading p {
  height: 70px;
}

@-webkit-keyframes shine {
  to {
    background-position-x: -200%;
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

/*====================================whyus preloader =================================*/

.skeleton {
  padding: 15px;
  max-width: 100%;
  width: 100%;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2),
    0 1px 8px 0 rgba(0, 0, 0, 0.12);
}
.skeleton .square {
  height: 180px;
  border-radius: 5px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, rgba(130, 130, 130, 0.2)),
    color-stop(18%, rgba(130, 130, 130, 0.3)),
    color-stop(33%, rgba(130, 130, 130, 0.2))
  );
  background: linear-gradient(
    to right,
    rgba(130, 130, 130, 0.2) 8%,
    rgba(130, 130, 130, 0.3) 18%,
    rgba(130, 130, 130, 0.2) 33%
  );
  background-size: 800px 100px;
  animation: wave-squares 2s infinite ease-out;
}
.skeleton .line {
  height: 12px;
  margin-bottom: 6px;
  border-radius: 2px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, rgba(130, 130, 130, 0.2)),
    color-stop(18%, rgba(130, 130, 130, 0.3)),
    color-stop(33%, rgba(130, 130, 130, 0.2))
  );
  background: linear-gradient(
    to right,
    rgba(130, 130, 130, 0.2) 8%,
    rgba(130, 130, 130, 0.3) 18%,
    rgba(130, 130, 130, 0.2) 33%
  );
  background-size: 800px 100px;
  animation: wave-lines 2s infinite ease-out;
}
.skeleton-right {
  flex: 1;
}
.skeleton-left {
  flex: 2;
  padding-right: 15px;
}
.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}
.skeleton .line:last-child {
  margin-bottom: 0;
}
.h8 {
  height: 8px !important;
}
.h10 {
  height: 10px !important;
}
.h12 {
  height: 12px !important;
}
.h15 {
  height: 15px !important;
}
.h17 {
  height: 17px !important;
}
.h20 {
  height: 20px !important;
}
.h25 {
  height: 25px !important;
}
.w25 {
  width: 25% !important;
}
.w40 {
  width: 40% !important;
}
.w50 {
  width: 50% !important;
}
.w75 {
  width: 75% !important;
}
.m10 {
  margin-bottom: 10px !important;
}
.circle {
  border-radius: 50% !important;
  height: 80px !important;
  width: 80px;
}
@keyframes wave-lines {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@keyframes wave-squares {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
