.sliderWithButton {
  background: #fff;
  text-align: center;
  padding: 30px 20px;
  margin: 0 auto;
}
.aboutSliderButton {
  margin-top: 90px;
  background: transparent !important;
  width: 1218px;
  margin: 70px;
  margin: 0 auto;
  padding: 90px 0px;
  background-color: #fff;
}
.inner,
.middleSliderButton {
  padding: 51px 30px;
  height: 273px;
}
.innerSliderWithButton,
.inner,
.middleSliderButton {
  text-align: center;
}
.middleSliderButton > p,
.middleSliderButton > span {
  color: #fff !important;
}
.innerSliderWithButton > p,
.middleSliderButton > p,
.inner > p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  position: relative;
  top: 2px;
  color: #000000;
  margin-bottom: 0 !important;
}
.innerSliderWithButton img {
  margin-bottom: 6px;
}
.innerSliderWithButton > span,
.middleSliderButton > span,
.inner > span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #545454;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.tabs {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  color: #000000;
  background-color: transparent;
}
.mainSlider_with_btn {
  position: relative !important;
  bottom: 82px !important;
  width: 1200px;
}
.mainAboutBanner {
  position: relative;
  height: 280px;
  overflow: hidden;
  margin-top: 80px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00000066;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 50.4px */
}
.mainAboutBanner h1 {
  color: #ffffff;
}
.mainAboutBanner img {
  text-align: center;
  margin: 0 auto;
}
.mainAboutBannerText {
  background: #ffffff;
  /* border-radius: 0px 0px 40px 40px; */
  /* max-width: 1218px; */
  margin: 0 auto;
  padding: 35px 60px;
  text-align: justify;
}
.mainAboutBannerText p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;

  color: #333333;
}
.whyUs h1 {
  font-size: 55px;
  margin-bottom: 20px;
}
.item_middle {
  display: flex;
  justify-content: center;
}
.innerSliderWithButton,
.middleSliderButton {
  width: auto;
  text-align: center;
}
.whyUs {
  margin: 0px 60px;
}
.whyUs_tab {
  margin-bottom: 30px;
  margin-top: 3rem;
}
.tabz {
  text-align: center !important;
  font-family: "Poppins", sans-serif;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
  border-radius: initial;
}
@media screen and (max-width: 991px) {
  .mainAboutBannerText p {
    margin-bottom: 0;
  }
  .mainAboutBanner {
    height: 100%;
  }
  /*.innerSliderWithButton{*/
  /*    width: auto;*/
  /*}*/
  .mainAboutBanner h1 {
    margin-top: 25px;
    font-size: 25px;
  }
  .mainAboutBanner {
    margin: 30px 0px;
    overflow: hidden;
    padding: 0;
    margin-bottom: 0;
  }
  .innerSliderWithButton,
  .middleSliderButton {
    /* margin-bottom: 30px; */
    margin-bottom: 0px;
  }
  .whyUs {
    margin: 0px 0px;
  }
  .whyUs h1 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 60px;
  }
  .whyUs_tab {
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-bottom: 1px solid transparent !important;
  }
  .tabz {
    font-size: 14px !important;
    padding: 5px;
    border-radius: initial !important;
  }
  .innerSliderWithButton,
  .middleSliderButton {
    border-radius: 0px;
    padding: 20px 30px;
    width: 100%;
  }
  .innerSliderWithButton > p,
  .middleSliderButton > p {
    font-size: 18px;
    line-height: initial;
  }
  .mainAboutBannerText {
    padding: 20px 20px;
    text-align: justify;
    border-radius: 5px;
  }
  .sliderWithButton,
  .aboutSliderButton {
    margin-bottom: 0;
  }
  .aboutSliderButton {
    width: auto;
    padding: 0;
    padding-top: 30px;
  }
  .inner,
  .middleSliderButton {
    padding: 35px 30px;
    height: auto;
  }
}
@media screen and (max-width: 575px) {
  .mainSlider_with_btn {
    width: auto;
    margin: 0 30px;
  }
}
