.sliderHeading{
    background: #FFFFFF;
    opacity: 0.96;
    border-radius: 24px;
    padding: 30px;
    width: 380px;
    text-align: left;
}
.sliderHeading h1{
    font-family: 'sora_bold';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    color: #000000;
    line-height: 58px;
}
.sliderHeading p{
    font-family: 'noto_medium';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #545454;
    padding: 12px 0px;
}