.sliderWithButton{
    border-radius: 0px 0px 40px 40px;
    background: #fff;
    text-align: left;
    padding: 30px 0px;
    /*margin: 70px;*/
    /*width: 1218px;*/
    margin: 0 auto;
    /*margin-top: 90px;*/
    margin-bottom: 60px;
}
.innerSliderWithButton > p{
    font-family: 'noto_sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 0 !important;
}
.innerSliderWithButton > span{
    font-family: 'noto_sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #545454;
}
.tabs{
    font-family: 'sora_bold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
    background-color: transparent;
}

.mainAboutBanner{
    background: #AD1F1F;
    border-radius: 40px;
    color: #FFFFFF;
    margin: 70px 0px;
    padding: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 50px;
}
.mainAboutBanner h1{
    color: #FFFFFF;
}
.mainAboutBanner img{
    max-width: 1218px;
    max-height: 300px;
    text-align: center;
    margin: 0 auto;
    margin-top: 35px;
}
.mainAboutBannerText {
    background: #FFFFFF;
    border-radius: 0px 0px 40px 40px;
    max-width: 1218px;
    margin: 0 auto;
    padding: 35px 60px;
    text-align: justify;
}
.mainAboutBannerText p{
    font-family: 'Noto_Sans_normal';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;

    color: #333333;
}
.whyUs h1{
    font-size: 55px;
    margin-bottom: 20px
}
.item_middle{
    display: flex;
    justify-content: center;
}
.innerSliderWithButton{
    width: 350px;
    text-align: left;
}
.whyUs{
    margin: 0px 60px;
}
.whyUs_tab{
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.tabz{
    color: #545454 !important;
    font-family: 'sora_bold' !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 140% !important;
}
@media screen and (max-width: 991px){
    /*.innerSliderWithButton{*/
    /*    width: auto;*/
    /*}*/
    .mainAboutBanner h1{
        margin-top: 25px;
    }
    .mainAboutBanner{
        margin: 30px 0px;
        overflow: hidden;
        padding: 0;
    }
    .innerSliderWithButton{
        margin-bottom: 30px;
    }
    .whyUs {
        margin: 0px 0px;
    }
    .whyUs h1{
        font-size: 30px;
        margin-bottom: 30px;
        margin-top: 60px;
    }
    .whyUs_tab{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .tabz{
        font-size: 14px !important;
        padding: 5px;
    }
    .innerSliderWithButton {
        border: 1px solid;
        border-radius: 10px;
        padding: 15px;
        width: 100%;
    }
    .innerSliderWithButton > p{
        font-size: 15px;
        line-height: initial;
    }
    .mainAboutBannerText{
        padding: 20px 20px;
        text-align: justify;
        border-radius: 5px;
    }
    .sliderWithButton{
        margin-bottom: 0;
    }
}